{% extends 'base.html' %}

{% block title %} <h1> Create User </h1>{% endblock %}
{% block content %} 

<form method="POST">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input name="first-name" type="text" class="form-control" id="first_name" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input name="last-name" type="text" class="form-control" id="last_name" placeholder="Enter last name">
        </div>
        <div class="form-group form-check">
            <label for="img_url">Image URL</label>
            <input name="img-url" type="url" class="form-control" id="img_url" placeholder="Provide an image of this user">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
{% endblock %}