{% extends 'base.html' %}
{% block title %} <h1> User </h1> {% endblock %}
{% block content %} 

<div class="card" style="width: 18rem;">
    <img src={{ user.img_url }} class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ user.first_name + " " + user.last_name }}</h5>
        <form method="POST">
            <a href="/users/user/{{user.id }}/edit" class="btn btn-primary">Edit</a>
            <a href="/users/user/{{user.id }}/delete" class="btn btn-danger">Delete</a>
        </form>
    </div>
 </div>



{% endblock %}