{% extends 'base.html' %}
{% block title %} <h1> User </h1> {% endblock %}
{% block content %} 

<div class="card" style="width: 28rem;">
    <img src={{ user.img_url }} class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ user.full_name }}</h5>
        <form method="POST">
            <a href="/users/user/{{user.id }}/edit" class="btn btn-primary">Edit</a>
            <a href="/users/user/{{user.id }}/delete" class="btn btn-danger">Delete</a>
            <a href="/users/user/{{user.id }}/posts/new" class="btn btn-info"> Add Post </a>
        </form>

        <h2 class="mt-4">Posts</h2>
        <ul>
            {% for post in posts %}
            <li>
                <a href="/posts/{{ post.id }}"> {{ post.title }} </a>
                <small>{{ post.formatted_date }} </small>
            </li>
            {% endfor %}
        </ul>
    </div>
 </div>



{% endblock %}